{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<title>{% block title %}Checkout{% endblock %}</title>

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h3 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">
{##}
{#                        <form method="POST">#}
{#                            {{ form|crispy }}#}
{#                            <button class="btn btn-primary" type="submit">Checkout</button>#}
{#                        </form>#}

            <!--Card content-->
              <form method="POST" class="card-body">


                  <!--address-->
                  <div class="md-form mb-5">
{#            <input type="text" id="address" class="form-control" placeholder="1234 Main St">#}
                    {{ form.street_address }}
                <label for="address" class=""></label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
{#               <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">#}
                   {{ form.apartment_address }}
                <label for="address-2" class=""></label>
              </div>

              <!--Grid row-->
              <div class="row" >

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
{#                  <select class="custom-select d-block w-100" id="country" required>#}
{#                    <option value="">Choose...</option>#}
{#                    <option>United States</option>#}
{#                  </select>#}
                      {{ form.country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
{#                  <input type="text" class="form-control" id="zip" placeholder="" required>#}
                     {{ form.zip }}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              <div class="custom-control custom-checkbox">

                <input  {% if form.same_shipping_address.value %} checked {% endif %} type="checkbox" name="same_billing_address" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input  {% if form.save_info.value %} checked {% endif %} type="checkbox" name="save_info" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
              </div>

              <hr>

              <div class="d-block my-3">
                  {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                  {% endfor %}
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
            {% include "order_snippet.html" %}
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}

