{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<title>{% block title %}Home{% endblock %}</title>

{% block content %}


  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">


                <!-- Search -->

{#          <form class="form-inline" method="GET">#}
{#            <div class="md-form my-0">#}
{#                    <button type="submit" class="btn btn-success btn-rounded btn-sm">Search</button>#}
{#            </div>#}
{#          </form>#}

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">All
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Red Wine</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">White Wine</a>
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="#">Outwears</a>#}
{#            </li>#}

          </ul>

        </div>
        <!-- Collaps content -->
      </nav>
      <!--/.Navbar-->

      <!--/.base.html-->

      <!--Section: Products v.3-->

      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

{% for item in object_list %}
{#        {% for item in filter.qs %}#}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                  <img src="{{ item.image.url }}" class="card-img-top" >

                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{item.get_category_display}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{item.title}}
                      <span class="badge badge-pill {{item.get_label_display}}-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">

                  <strong>$
                      {% if item.discount_price %}
                      {{item.discount_price}}
                      {% else %}
                      {{item.price}}
                      {% endif %}
                  </strong>
                </h4>

              </div>
              <!--Card content-->
            </div>
            <!--Card-->
          </div>
          <!--Grid column-->
{% endfor %}
          </div>
      </section>
      <!--Section: Products v.3-->




      <!--Pagination-->
    {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
            {% if page_obj.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
{#          <li class="page-item">#}
{#            <a class="page-link" href="#">2</a>#}
{#          </li>#}
{#          <li class="page-item">#}
{#            <a class="page-link" href="#">3</a>#}
{#          </li>#}
{#          <li class="page-item">#}
{#            <a class="page-link" href="#">4</a>#}
{#          </li>#}
{#          <li class="page-item">#}
{#            <a class="page-link" href="#">5</a>#}
{#          </li>#}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
                </ul>
                </nav>
    {% endif %}
      <!--Pagination-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}



