{% extends "base.html" %}
{% load static %}
{% load i18n %}

<title>{% block title %}Home{% endblock %}</title>

{% block content %}


  <!--Main layout-->
  <main>
    <div class="container">


      <!--/.base.html-->

      <br>
    <br>
    <br>
    <br>
    <br>
      <div class="table-responsive text-nowrap">

          <h2>Order Summary</h2>
  <table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Item title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Item Price</th>
    </tr>
    </thead>
    <tbody>
    {% for order_item in object.items.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
          <td>{{ order_item.item.title }}</td>
          <td>${{ order_item.item.price }}</td>
          <td>
              <a href="{% url 'shop:remove_single_item_from_cart' order_item.item.slug %}">
                  <i class="fas fa-minus mr-2"></i>
              </a>
              {{ order_item.quantity }}
             <a href="{% url 'shop:add_to_cart' order_item.item.slug %}">
                 <i class="fas fa-plus ml-2"></i>
             </a>
          </td>
          <td>
            {% if order_item.item.discount_price %}
                <span class="badge badge-pill badge-default">Saving ${{ order_item.get_amount_saved }}</span>
                ${{ order_item.get_total_discount_item_price }}
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
           <a href="{% url 'shop:remove_from_cart' order_item.item.slug %}">
          <i style="color:#b490ca" class="fas fa-trash float-right"></i>
               </a>
        </td>
      </tr>
        {% empty %}
        <tr>
        <td colspan="5">Your cart is empty</td>
        </tr>
         <tr>
          <td colspan="5">
                <a class="btn btn-primary float-right" href="/"> Continue shopping</a>
          </td>
        </tr>
    {% endfor %}
     {% if object.coupon %}
          <tr>
          <td colspan="4"><b>Coupon</b></td>
            <td>
               <b>-${{ object.coupon.amount }}</b>
            </td>
        </tr>
     <tr>
    {% endif %}
    {% if object.get_total %}
      <tr>
          <td colspan="4"><b>Order Total</b></td>
            <td>
               <b>${{ object.get_total }}</b>
            </td>
        </tr>
     <tr>
          <td colspan="5">
              <a class="btn btn-success float-right ml-2" href="{% url 'shop:checkout' %}"> Proceed to checkout</a>
                <a class="btn btn-primary float-right" href="/"> Continue shopping</a>
          </td>
        </tr>
      <tr>
    {% endif %}
    </tbody>
  </table>

</div>

    </div>
  </main>
  <!--Main layout-->
     <br>
    <br>
    <br>
    <br>
      <br>
    <br>
{% endblock %}



