{% load i18n %}

<title>{% block title %}Order_snipped{% endblock %}</title>

<div class="col-md-12 mb-4">

    <!-- Heading -->
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
    </h4>

    <!-- Cart -->
    <ul class="list-group mb-3 z-depth-1">
        {% for order_item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.title }}</h6>
{#                    <small class="text-muted">{{ order_item.item.description }}</small>#}
                </div>
                <span class="text-muted">{{ order_item.get_final_price }}</span>
            </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>{{ order.coupon.code }}</small>
            </div>
            <span class="text-success">-${{ order.coupon.amount }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>{{ order.get_total }}</strong>
        </li>
    </ul>
    <!-- Cart -->
{% if DISPLAY_COUPON_FORM %}
    <form class="card p-2" method="POST" action = {% url 'shop:add-coupon' %}>
        <div class="input-group">
{#            <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">#}
            {{ couponform.code }}
            <div class="input-group-append">
                <button class="btn btn-primary btn-md waves-effect m-0" type="submit">Redeem</button>
            </div>
        </div>
    </form>

</div>
{% endif %}


