{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<title>{% block title %}Home{% endblock %}</title>

{% block content %}


  <!--Main layout-->
  <main>
    <div class="container">


      <!--/.base.html-->

      <br>
    <br>
    <br>
    <br>
    <br>
      <div class="table-responsive text-nowrap">

          <h2>Request Refund</h2>
<form method="POST">
     {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

    </div>
  </main>
  <!--Main layout-->
     <br>
    <br>
    <br>
    <br>
      <br>
    <br>
{% endblock %}






